*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    background-color: #2F2F2F;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
    width: 100%;
    display: flex;
}